#
# Gitolite options
#
GIT_PASSWORD=change-me-to-a-strong-password
SSH_KEY=<YOUR-SSH-KEY>
SSH_KEY_NAME=admin
#
# Cgit options
#
CGIT_ROOT_TITLE=Git Repository Browser
CGIT_DESC=a fast webinterface for the git dscm
CGIT_CLONE_PREFIX=http://<YOUR-DOMAIN> ssh://git@<YOUR-DOMAIN>

CGIT_SNAPSHOT=tar.gz tar.bz2 tar.xz
ENABLE_HTTP_CLONE=1
