/* catppuccin-latte theme */
/* :root { 
    --crust: #dce0e8;
    --mantle: #e6e9ef;
    --base: #eff1f5;
    --surface-0: #ccd0da;
    --surface-1: #bcc0cc;
    --surface-2: #acb0be;
    --overlay-0: #9ca0b0;
    --overlay-1: #8c8fa1;
    --overlay-2: #7c7f93;
    --subtext-0: #6c6f85;
    --subtext-1: #5c5f77;
    --text: #4c4f69;
    --lavender: #7287fd;
    --blue: #1e66f5;
    --sapphire: #209fb5;
    --sky: #04a5e5;
    --teal: #179299;
    --green: #40a02b;
    --yellow: #df8e1d;
    --peach: #fe640b;
    --maroon: #e64553;
    --red: #d20f39;
    --mauve: #8839ef;
    --pink: #ea76cb;
    --flamingo: #dd7878;
    --rosewater: #dc8a78;

    --accent-color: var(--green);
} */

/* catppuccin-frappe theme */
/* :root {
    --crust: #232634;
    --mantle: #292c3c;
    --base: #303446;
    --surface-0: #414559;
    --surface-1: #51576d;
    --surface-2: #626880;
    --overlay-0: #737994;
    --overlay-1: #838ba7;
    --overlay-2: #949cbb;
    --subtext-0: #a5adce;
    --subtext-1: #b5bfe2;
    --text: #c6d0f5;
    --lavender: #babbf1;
    --blue: #8caaee;
    --sapphire: #85c1dc;
    --sky: #99d1db;
    --teal: #81c8be;
    --green: #a6d189;
    --yellow: #e5c890;
    --peach: #ef9f76;
    --maroon: #ea999c;
    --red: #e78284;
    --mauve: #ca9ee6;
    --pink: #f4b8e4;
    --flamingo: #eebebe;
    --rosewater: #f2d5cf;

    --accent-color: var(--green);
} */

/* catppuccin-macchiato theme */
/* :root {
    --crust: #181926;
    --mantle: #1e2030;
    --base: #24273a;
    --surface-0: #363a4f;
    --surface-1: #494d64;
    --surface-2: #5b6078;
    --overlay-0: #6e738d;
    --overlay-1: #8087a2;
    --overlay-2: #939ab7;
    --subtext-0: #a5adcb;
    --subtext-1: #b8c0e0;
    --text: #cad3f5;
    --lavender: #b7bdf8;
    --blue: #8aadf4;
    --sapphire: #7dc4e4;
    --sky: #91d7e3;
    --teal: #8bd5ca;
    --green: #a6da95;
    --yellow: #eed49f;
    --peach: #f5a97f;
    --maroon: #ee99a0;
    --red: #ed8796;
    --mauve: #c6a0f6;
    --pink: #f5bde6;
    --flamingo: #f0c6c6;
    --rosewater: #f4dbd6;

    --accent-color: var(--green);
} */

/* catppuccin-mocha theme */
:root {
    color-scheme: dark;
    --crust: #11111b;
    --mantle: #181825;
    --base: #1e1e2e;
    --surface-0: #313244;
    --surface-1: #45475a;
    --surface-2: #585b70;
    --overlay-0: #6c7086;
    --overlay-1: #7f849c;
    --overlay-2: #9399b2;
    --subtext-0: #a6adc8;
    --subtext-1: #bac2de;
    --text: #cdd6f4;
    --lavender: #b4befe;
    --blue: #89b4fa;
    --sapphire: #74c7ec;
    --sky: #89dceb;
    --teal: #94e2d5;
    --green: #a6e3a1;
    --yellow: #f9e2af;
    --peach: #fab387;
    --maroon: #eba0ac;
    --red: #f38ba8;
    --mauve: #cba6f7;
    --pink: #f5c2e7;
    --flamingo: #f2cdcd;
    --rosewater: #f5e0dc;

    --accent-color: var(--green);
}

::-moz-selection {
  background: var(--accent-color);
  color: var(--mantle);
}

::selection {
  background: var(--accent-color);
  color: var(--mantle);
}

body {
	background-color: var(--mantle);
}

div#cgit input, div#cgit select {
	border: 1px solid var(--accent-color);
	background-color: var(--crust);
	color: var(--text);
}

div#cgit {
	padding: 0em;
	margin: 2em 1em;
	font-family: sans-serif;
	font-size: 10pt;
	color: var(--text);
	background: var(--mantle);
	padding: 4px;
}

div#cgit a {
	color: var(--accent-color);
	text-decoration: none;
}

div#cgit a:hover {
	text-decoration: underline;
}

div#cgit table {
	border-collapse: collapse;
}

div#cgit table#header {
	width: 100%;
	margin-bottom: 1em;
}

div#cgit table#header td.logo {
	width: 96px;
	vertical-align: top;
}

div#cgit table#header td.main {
	font-size: 250%;
	padding-left: 10px;
	white-space: nowrap;
}

div#cgit table#header td.main a {
	color: var(--text);
}

div#cgit table#header td.form {
	text-align: right;
	vertical-align: bottom;
	padding-right: 1em;
	padding-bottom: 2px;
	white-space: nowrap;
}

div#cgit table#header td.form form,
div#cgit table#header td.form input,
div#cgit table#header td.form select {
	font-size: 90%;
}

div#cgit table#header td.sub {
	color: var(--subtext-1);
	padding-left: 10px;
}

div#cgit table.tabs {
	border-bottom: solid 3px var(--accent-color);
	border-collapse: collapse;
	margin-top: 2em;
	margin-bottom: 0px;
	width: 100%;
}

div#cgit table.tabs td {
	padding: 0px 1em;
	vertical-align: bottom;
}

div#cgit table.tabs td a {
	padding: 2px 0.75em;
	color: var(--text);
	font-size: 110%;
}

div#cgit table.tabs td a.active {
	color: var(--mantle);
	background-color: var(--accent-color);
}

div#cgit table.tabs td.form {
	text-align: right;
}

div#cgit table.tabs td.form form {
	padding-bottom: 2px;
	font-size: 90%;
	white-space: nowrap;
}

div#cgit table.tabs td.form input,
div#cgit table.tabs td.form select {
	font-size: 90%;
}

div#cgit div.path {
	margin: 0px;
	padding: 5px 2em 2px 2em;
	color: var(--text);
	background-color: var(--mantle);
}

div#cgit div.content {
	margin: 0px 0px 16px 0px;
	padding: 2em 0em;
	border-bottom: solid 2px var(--accent-color);
}

div#cgit table.list {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

div#cgit table.list tr {
	background: var(--mantle);
}

div#cgit table.list tr.logheader {
	background: var(--mantle);
}

div#cgit table.list tr:nth-child(even) {
	background: var(--base);
}

div#cgit table.list tr:nth-child(odd) {
	background: var(--mantle);
}

div#cgit table.list tr:hover {
	background: var(--surface-0);
}

div#cgit table.list tr.nohover {
	background: var(--mantle);
}

div#cgit table.list tr.nohover:hover {
	background: var(--mantle);
}

div#cgit table.list tr.nohover-highlight:hover:nth-child(even) {
	background: var(--surface-0);
}

kiv#cgit table.list tr.nohover-highlight:hover:nth-child(odd) {
	background: var(--surface-0);
}

div#cgit table.list th {
	font-weight: bold;
	background-color: var(--surface-0);
	padding: 0.5em 0.5em 0.5em 0.7em;
	vertical-align: baseline;
}

div#cgit table.list td {
	border: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
}

div#cgit table.list td.commitgraph {
	font-family: monospace;
	white-space: pre;
}

div#cgit table.list td.commitgraph .column1 {
	color: var(--red);
}

div#cgit table.list td.commitgraph .column2 {
	color: var(--green);
}

div#cgit table.list td.commitgraph .column3 {
	color: var(--yellow);
}

div#cgit table.list td.commitgraph .column4 {
	color: var(--sapphire);
}

div#cgit table.list td.commitgraph .column5 {
	color: var(--pink);
}

div#cgit table.list td.commitgraph .column6 {
	color: var(--sky);
}

div#cgit table.list td.logsubject {
	font-family: monospace;
	font-weight: bold;
}

div#cgit table.list td.logmsg {
	font-family: monospace;
	white-space: pre;
	padding: 0 0.5em;
}

div#cgit table.list td a {
	color: var(--text);
}

div#cgit table.list td a.ls-dir {
	font-weight: bold;
	color: var(--text);
}

div#cgit table.list td a:hover {
	color: var(--accent-color);
}

div#cgit img {
	border: none;
}

div#cgit input#switch-btn {
	margin: 2px 0px 0px 0px;
}

div#cgit td#sidebar input.txt {
	width: 100%;
	margin: 2px 0px 0px 0px;
}

div#cgit table#grid {
	margin: 0px;
}

div#cgit td#content {
	vertical-align: top;
	padding: 1em 2em 1em 1em;
	border: none;
}

div#cgit div#summary {
	vertical-align: top;
	margin-bottom: 1em;
}

div#cgit table#downloads {
	float: right;
	border-collapse: collapse;
	border: solid 1px var(--accent-color);
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

div#cgit table#downloads th {
	background-color: var(--mantle);
}

div#cgit div#blob {
	border: solid 1px var(--overlay-1);
}

div#cgit div.error {
	color: var(--red);
	font-weight: bold;
	margin: 1em 2em;
}

div#cgit a.ls-blob, div#cgit a.ls-dir, div#cgit .ls-mod {
	font-family: monospace;
}

div#cgit td.ls-size {
	text-align: right;
	font-family: monospace;
	width: 10em;
}

div#cgit td.ls-mode {
	font-family: monospace;
	width: 10em;
}

div#cgit table.blob {
	margin-top: 0.5em;
	border-top: solid 1px var(--overlay-1);
}

div#cgit table.blob td.hashes,
div#cgit table.blob td.lines {
	margin: 0; padding: 0 0 0 0.5em;
	vertical-align: top;
	color: var(--text);
}

div#cgit table.blob td.linenumbers {
	margin: 0; padding: 0 0.5em 0 0.5em;
	vertical-align: top;
	text-align: right;
	border-right: 1px solid var(--overlay-1);
}

div#cgit table.blob pre {
	padding: 0; margin: 0;
}

div#cgit table.blob td.linenumbers a,
div#cgit table.ssdiff td.lineno a {
	color: var(--subtext-0);
	text-align: right;
	text-decoration: none;
}

div#cgit table.blob td.linenumbers a:hover,
div#cgit table.ssdiff td.lineno a:hover {
	color: var(--accent-color);
}

div#cgit table.blame td.hashes,
div#cgit table.blame td.lines,
div#cgit table.blame td.linenumbers {
	padding: 0;
}

div#cgit table.blame td.hashes div.alt,
div#cgit table.blame td.lines div.alt {
	padding: 0 0.5em 0 0.5em;
}

div#cgit table.blame td.linenumbers div.alt {
	padding: 0 0.5em 0 0;
}

div#cgit table.blame div.alt:nth-child(even) {
	background: var(--crust);
}

div#cgit table.blame div.alt:nth-child(odd) {
	background: var(--mantle);
}

div#cgit table.blame td.lines > div {
	position: relative;
}

div#cgit table.blame td.lines > div > pre {
	padding: 0 0 0 0.5em;
	position: absolute;
	top: 0;
}

div#cgit table.blame .oid {
	font-size: 100%;
}

div#cgit table.bin-blob {
	margin-top: 0.5em;
	border: solid 1px var(--overlay-0);
}

div#cgit table.bin-blob th {
	font-family: monospace;
	white-space: pre;
	border: solid 1px var(--overlay-0);
	padding: 0.5em 1em;
}

div#cgit table.bin-blob td {
	font-family: monospace;
	white-space: pre;
	border-left: solid 1px var(--overlay-0);
	padding: 0em 1em;
}

div#cgit table.nowrap td {
	white-space: nowrap;
}

div#cgit table.commit-info {
	border-collapse: collapse;
	margin-top: 1.5em;
}

div#cgit div.cgit-panel {
	float: right;
	margin-top: 1.5em;
}

div#cgit div.cgit-panel table {
	border-collapse: collapse;
	border: solid 1px var(--accent-color);
	background-color: var(--crust);
}

div#cgit div.cgit-panel th {
	text-align: center;
}

div#cgit div.cgit-panel td {
	padding: 0.25em 0.5em;
}

div#cgit div.cgit-panel td.label {
	padding-right: 0.5em;
}

div#cgit div.cgit-panel td.ctrl {
	padding-left: 0.5em;
}

div#cgit table.commit-info th {
	text-align: left;
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
	vertical-align: top;
}

div#cgit table.commit-info td {
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
}

div#cgit div.commit-subject {
	font-weight: bold;
	font-size: 125%;
	margin: 1.5em 0em 0.5em 0em;
	padding: 0em;
}

div#cgit div.commit-msg {
	white-space: pre;
	font-family: monospace;
}

div#cgit div.notes-header {
	font-weight: bold;
	padding-top: 1.5em;
}

div#cgit div.notes {
	white-space: pre;
	font-family: monospace;
	border: solid 1px var(--peach);
	background-color: var(--yellow);
	padding: 0.3em 2em 0.3em 1em;
	float: left;
}

div#cgit div.notes-footer {
	clear: left;
}

div#cgit div.diffstat-header {
	font-weight: bold;
	padding-top: 1.5em;
}

div#cgit table.diffstat {
	border-collapse: collapse;
	border: solid 1px var(--accent-color);
	background-color: var(--crust);
}

div#cgit table.diffstat th {
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	padding: 0.1em 1em 0.1em 0.1em;
	font-size: 100%;
}

div#cgit table.diffstat td {
	padding: 0.2em 0.2em 0.1em 0.1em;
	font-size: 100%;
	border: none;
}

div#cgit table.diffstat td.mode {
	white-space: nowrap;
}

div#cgit table.diffstat td span.modechange {
	padding-left: 1em;
	color: var(--red);
}

div#cgit table.diffstat td.add a {
	color: var(--green);
}

div#cgit table.diffstat td.del a {
	color: var(--red);
}

div#cgit table.diffstat td.upd a {
	color: var(--accent-color);
}

div#cgit table.diffstat td.graph {
	width: 500px;
	vertical-align: middle;
}

div#cgit table.diffstat td.graph table {
	border: none;
}

div#cgit table.diffstat td.graph td {
	padding: 0px;
	border: 0px;
	height: 7pt;
}

div#cgit table.diffstat td.graph td.add {
	background-color: var(--green);
}

div#cgit table.diffstat td.graph td.rem {
	background-color: var(--maroon);
}

div#cgit div.diffstat-summary {
	color: var(--subtext-1);
	padding-top: 0.5em;
}

div#cgit table.diff {
	width: 100%;
}

div#cgit table.diff td {
	font-family: monospace;
	white-space: pre;
}

div#cgit table.diff td div.head {
	font-weight: bold;
	margin-top: 1em;
	color: var(--subtext-0);
}

div#cgit table.diff td div.hunk {
	color: var(--sapphire);
}

div#cgit table.diff td div.add {
	color: var(--green);
}

div#cgit table.diff td div.del {
	color: var(--red);
}

div#cgit .oid {
	font-family: monospace;
	font-size: 90%;
}

div#cgit .left {
	text-align: left;
}

div#cgit .right {
	text-align: right;
}

div#cgit table.list td.reposection {
	font-style: italic;
	color: var(--accent-color);
}

div#cgit a.button {
	font-size: 80%;
	padding: 0em 0.5em;
}

div#cgit a.primary {
	font-size: 100%;
}

div#cgit a.secondary {
	font-size: 90%;
}

div#cgit table.list td.sublevel-repo {
	color: var(--text);
	padding-left: 1.5em;
}

div#cgit ul.pager {
	list-style-type: none;
	text-align: center;
	margin: 1em 0em 0em 0em;
	padding: 0;
}

div#cgit ul.pager li {
	display: inline-block;
	margin: 0.25em 0.5em;
}

div#cgit ul.pager a {
	color: var(--subtext-0);
}

div#cgit ul.pager .current {
	font-weight: bold;
}

div#cgit span.age-mins {
	font-weight: bold;
	color: var(--teal);
}

div#cgit span.age-hours {
	color: var(--sky);
}

div#cgit span.age-days {
	color: var(--teal);
}

div#cgit span.age-weeks {
	color: var(--green);
}

div#cgit span.age-months {
	color: var(--overlay-1);
}

div#cgit span.age-years {
	color: var(--overlay-2);
}

div#cgit span.insertions {
	color: var(--teal);
}

div#cgit span.deletions {
	color: var(--maroon);
}

div#cgit div.footer {
	margin-top: 0.5em;
	text-align: center;
	font-size: 80%;
	color: var(--text);
}

div#cgit div.footer a {
	color: var(--accent-color);
	text-decoration: none;
}

div#cgit div.footer a:hover {
	text-decoration: underline;
}

div#cgit span.msg-avail {
	color: var(--mantle);
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: var(--overlay-2);
	border: solid 1px var(--overlay-0);
}

div#cgit a.branch-deco {
	color: var(--mantle) !important;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: var(--green);
	border: solid 1px var(--teal);
}

div#cgit a.tag-deco {
	color: var(--mantle) !important;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: var(--yellow);
	border: solid 1px var(--peach);
}

div#cgit a.tag-annotated-deco {
	color: var(--mantle) !important;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: var(--peach);
	border: solid 1px var(--rosewater);
}

div#cgit a.remote-deco {
	color: var(--mantle) !important;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: var(--lavender);
	border: solid 1px var(--mauve);
}

div#cgit a.deco {
	color: var(--mantle) !important;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: var(--red);
	border: solid 1px var(--maroon);
}

div#cgit div.commit-subject a.branch-deco,
div#cgit div.commit-subject a.tag-deco,
div#cgit div.commit-subject a.tag-annotated-deco,
div#cgit div.commit-subject a.remote-deco,
div#cgit div.commit-subject a.deco {
	margin-left: 1em;
	font-size: 75%;
}

div#cgit table.stats {
	border: solid 1px var(--accent-color);
	border-collapse: collapse;
}

div#cgit table.stats th {
	text-align: left;
	padding: 1px 0.5em;
	background-color: var(--mantle);
	border: solid 1px var(--accent-color);
}

div#cgit table.stats td {
	text-align: right;
	padding: 1px 0.5em;
	border: solid 1px var(--accent-color);
}

div#cgit table.stats td.total {
	font-weight: bold;
	text-align: left;
}

div#cgit table.stats td.sum {
	color: var(--red);
	font-weight: bold;
	background-color: var(--mantle);
}

div#cgit table.stats td.left {
	text-align: left;
}

div#cgit table.vgraph {
	border-collapse: separate;
	border: solid 1px var(--accent-color);
	height: 200px;
}

div#cgit table.vgraph th {
	background-color: var(--mantle);
	font-weight: bold;
	border: solid 1px var(--accent-color);
	padding: 1px 0.5em;
}

div#cgit table.vgraph td {
	vertical-align: bottom;
	padding: 0px 10px;
}

div#cgit table.vgraph div.bar {
	background-color: var(--mantle);
}

div#cgit table.hgraph {
	border: solid 1px var(--accent-color);
	width: 800px;
}

div#cgit table.hgraph th {
	background-color: var(--mantle);
	font-weight: bold;
	border: solid 1px var(--accent-color);
	padding: 1px 0.5em;
}

div#cgit table.hgraph td {
	vertical-align: middle;
	padding: 2px 2px;
}

div#cgit table.hgraph div.bar {
	background-color: var(--mantle);
	height: 1em;
}

div#cgit table.ssdiff {
	width: 100%;
}

div#cgit table.ssdiff td {
	font-size: 75%;
	font-family: monospace;
	white-space: pre;
	padding: 1px 4px 1px 4px;
	border-left: solid 1px var(--accent-color);
	border-right: solid 1px var(--accent-color);
}

div#cgit table.ssdiff td.add {
	color: var(--mantle);
	background: var(--sky);
	min-width: 50%;
}

div#cgit table.ssdiff td.add_dark {
	color: var(--mantle);
	background: var(--teal);
	min-width: 50%;
}

div#cgit table.ssdiff span.add {
	background: var(--green);
	font-weight: bold;
}

div#cgit table.ssdiff td.del {
	color: var(--mantle);
	background: var(--maroon);
	min-width: 50%;
}

div#cgit table.ssdiff td.del_dark {
	color: var(--mantle);
	background: var(--red);
	min-width: 50%;
}

div#cgit table.ssdiff span.del {
	background: var(--maroon);
	font-weight: bold;
}

div#cgit table.ssdiff td.changed {
	color: var(--mantle);
	background: var(--yellow);
	min-width: 50%;
}

div#cgit table.ssdiff td.changed_dark {
	color: var(--mantle);
	background: var(--rosewater);
	min-width: 50%;
}

div#cgit table.ssdiff td.lineno {
	color: var(--subtext-0);
	background: var(--surface-0);
	text-align: right;
	width: 3em;
	min-width: 3em;
}

div#cgit table.ssdiff td.hunk {
	color: var(--mantle);
	background: var(--lavender);
	border-top: solid 1px var(--accent-color);
	border-bottom: solid 1px var(--accent-color);
}

div#cgit table.ssdiff td.head {
	border-top: solid 1px var(--accent-color);
	border-bottom: solid 1px var(--accent-color);
}

div#cgit table.ssdiff td.head div.head {
	font-weight: bold;
	color: var(--text);
}

div#cgit table.ssdiff td.foot {
	border-top: solid 1px var(--accent-color);
	border-left: none;
	border-right: none;
	border-bottom: none;
}

div#cgit table.ssdiff td.space {
	border: none;
}

div#cgit table.ssdiff td.space div {
	min-height: 3em;
}

/*
   Color overrides for browsers running in light mode.
   "only all and ..." forces very old browsers to ignore the media query:
   https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries#improving_compatibility_with_older_browsers
*/
@media only all and (prefers-color-scheme: light) {
    /* catppuccin-latte theme */
    :root {
        color-scheme: light;
        --crust: #dce0e8;
        --mantle: #e6e9ef;
        --base: #eff1f5;
        --surface-0: #ccd0da;
        --surface-1: #bcc0cc;
        --surface-2: #acb0be;
        --overlay-0: #9ca0b0;
        --overlay-1: #8c8fa1;
        --overlay-2: #7c7f93;
        --subtext-0: #6c6f85;
        --subtext-1: #5c5f77;
        --text: #4c4f69;
        --lavender: #7287fd;
        --blue: #1e66f5;
        --sapphire: #209fb5;
        --sky: #04a5e5;
        --teal: #179299;
        --green: #40a02b;
        --yellow: #df8e1d;
        --peach: #fe640b;
        --maroon: #e64553;
        --red: #d20f39;
        --mauve: #8839ef;
        --pink: #ea76cb;
        --flamingo: #dd7878;
        --rosewater: #dc8a78;

        --accent-color: var(--green);
    }
}
